In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('/content/data/data.csv')

In [7]:
df.head()

         Id  ...         Y
0  34552656  ...  LQ_CLOSE
1  34552974  ...   LQ_EDIT
2  34553034  ...        HQ
3  34553174  ...        HQ
4  34553318  ...        HQ

[5 rows x 6 columns]